
/* Your CSS Code here. */
.container{
    padding:10px;
    width: 200px;
    background-color: purple;
    border-left: green;
    border-left-width:5px;
    font-size: 20px;
}
h1{
    color: white;
}
/* container div width -> 200px;
background color -> purple;
left side border color -> green;
left side border thickness -> 5 pixels;
padding on all sides in div -> 10px;
text font size -> 20 pixels
heading color -> white */
